{% extends 'events/base.html' %}
{% block title %}{{ event.title }}{% endblock %}
{% block content %}
  <h1>{{ event.title }}</h1>
  <p class="date">
    {{ event.event_date }} Presented by {{ event.presenter }}
  </p>
  {{ event.description|linebreaks }}
  <p>
    <a href="{% url "events:event_share" event.id %}">
      Share this event
    </a>
  </p>
  <h2>Similar Events</h2>
  {% for event in similar_events %}
    <p>
      <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
    </p>
    {% empty %}
      There are no similiar events yet.
  {% endfor %}
{% endblock %}