{% extends 'events/base.html' %}
{% block title %}Up Front Events{% endblock %}
{% block content %}
  <h1>Up Front Events</h1>

  {% if tag %}
    <h2>Events tagged with "{{ tag.name }}"</h2>
  {% endif %}
  {% for event in events %}
    <h2>
      <a href="{{ event.get_absolute_url }}">
        {{ event.title }}
      </a>
    </h2>
    <p class="tags">Tags: 
      {% for tag in event.tags.all %}
        <a href="{% url "events:event_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    <p class="date">
      {{ event.event_date }} - Presented by {{ event.presenter }}
    </p>
    {{ event.description|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with page=events %}
{% endblock %}