{% extends 'base.html' %}
{% block title %}Up Front Events{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="text-2xl mb-8">Up Front Events</h1>
    {% for event in events %}
      <div class="mb-8 p-4 shadow-md">
        <h2>
          <a class="text-xl" href="{{ event.get_absolute_url }}">
            {{ event.title }}
          </a>
        </h2>
        {% if tags %}
          <p class="tags">Tags: 
            {% for tag in event.tags.all %}
              <a href="{% url "events:event_list_by_tag" tag.slug %}">
                {{ tag.name }}
              </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        <p class="date">
          {{ event.event_date }} - Presented by {{ event.presenter }}
        </p>
        <p class="price text-l font-medium">${{ event.price  }}</p>
      {{ event.description|truncatewords:30|linebreaks }}
      <div class="btn mt-4">
        <a href="{{ event.get_absolute_url }}">See Details</a>
      </div>
      
      </div>
    {% endfor %}
    {% include "pagination.html" with page=events %}
    </div>
{% endblock %}